*{
  margin: 0;
  padding: 0;
  font-family: 'Amiri';
  box-sizing: border-box;
  scroll-behavior: smooth;
} 

section{
  padding: 15% 10%;
}

/* home */

.home-shop{
  width: 100%;
  height: 100%;
  background-image: url(images/heroshop.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
}

.home-text-shop h5{
  color: #7F867B;
  font-size: 30px;
  font-weight: 500;
}

.home-text-shop h1{
  color: #223b05;
  font-size: 65px;
  text-transform: capitalize;
  line-height: 1.1;
  font-weight: 600;
  margin: 6px 0 10px;
}

.home-text-shop p{
  color: green;
  font-size: 20px;
  font-style: italic;
  margin-bottom: 20px;
}

/* collections cards */
.products {
  display: flex;
  flex-wrap: wrap;
  background-color: #ffffff;
}


.product-card {
  padding: 2%;
  align-items: center;
  flex-grow: 1;
  flex-basis: 16%;
  display: flex; /* so child elements can use flexbox stuff too! */
  flex-direction: column;
  border-color: #7F867B;
}

.product-image img {
  max-width: 300px;
  transition: all .30s ease;
  max-height: 300px; 
}

.product-image img:hover{
  transform: scale(0.95);
}
.product-info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.product-info h5 {
  font-size: medium;
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-weight: lighter;
  
}

.product-info h6 {
  margin-top: 0px;
  font-size: large;
  font-weight: bold;
  text-align: start;
  padding-bottom: 0px;
}

.product-card a {
  cursor: grab;

}

.checkout-button{
  background-color: #223b05;
  font-size: medium;
  color: #ffffff;
  padding: 3%;
  padding-bottom: 3%;
  max-height: 30px;
  margin-left: 20%;
  display:inline-flex;
  align-items: center;
  border-radius: 5px;
  position: sticky; 
}


